.bg-con {
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dkoqbt4pc/image/upload/v1713789654/2151114294_gfh5pm.jpg');
  background-size: cover;
}

.app-title {
  margin: 0;
  padding-top: 0.35em;
  font-size: 38px;
  font-family: var(--font-1);
  letter-spacing: -0.03em;
  color: var(--white);
  text-align: center;
  text-shadow: 3px 3px 0 var(--black);
}

.content-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

form {
  display: flex;
  flex-direction: column;

  & label {
    font-size: 24px;
    font-family: var(--font-1);
    color: var(--white);
    letter-spacing: -0.01em;
  }

  & input {
    height: 30px;
    padding: 0 7px;
    border: 1px solid var(--white);
    border-radius: 0.5em;
    background: none;
    font-size: 18px;
    font-family: var(--font-2);
    color: var(--white);
    outline: none;
  }

  & button {
    align-self: center;
    padding: 0.5em;
    margin-top: 1.5em;
    border: none;
    border-radius: 0.5em;
    font-size: 14px;
    font-family: var(--font-1);
    letter-spacing: -0.02em;
    color: var(--white);
    background: var(--green);
    cursor: pointer;
  }
}

.validity-con {
  width: 38rem;
  padding: 1.5em 4em;
  border: 2px solid var(--light-gray);
  backdrop-filter: blur(3px);
  border-radius: 1em;
  background: rgb(255 255 255 / 0.15);
}

.req-con {
  & h2 {
    font-size: 24px;
    font-family: var(--font-1);
    color: var(--white);
    letter-spacing: -0.03em;
    text-align: center;
  }

  & hr {
    margin-top: -1.1em;
    border-color: var(--white);
  }

  & ul {
    padding: none;
    list-style-type: none;
    font-size: 18px;
    font-family: var(--font-2);
    color: var(--white);

    & li {
    }
  }
}
